# Docker env
SERVER="development"

# Postgres env
POSTGRES_USER=geodata
POSTGRES_PASSWORD=geodata
POSTGRES_DATABASE_NAME=geodata
# https://www.postgresql.org/docs/current/libpq-envars.html
PGPORT=5439
POSTGRES_URL=db
PGDATA="/data/db"

# Pgadmin env
PGADMIN_DEFAULT_EMAIL="dev@teamsviluppo.it"
PGADMIN_DEFAULT_PASSWORD="pg@dm1n4d3vTV.it"
